* {
  margin: 0;
  color: #fff;
}

body {
  background: #222;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5em;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  width: 40em;
  margin: 0.5em 0 0.5em 0;
}

.game {
  display: flex;
  flex-direction: column;
  width: 40em;
  height: 40em;
}

.row {
  display: flex;
}

.tile {
  width: 100%;
  aspect-ratio: 1;
  background: #fff;
  transition: background 100ms;
  border: 1px solid #111;
  cursor: pointer;
}

.active {
  background: #111;
}

#correct {
  background: #2ecc71;
}

#incorrect {
  background: #e74c3c;
}

.score {
  margin-left: 1em;
  text-align: right;
}

h2 {
  font-size: 2.5em;
}

h5 {
  font-weight: 400;
}
