body {
  background: #222;
  height: 100%;
  color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  background: #111;
  display: flex;
  flex-wrap: wrap;
  outline: 2px solid #111;
}

#piece,
#pieceActive,
.pieceAnim {
  background: #fff;
  transition: background 100ms;
  border: 1px solid #111;
  box-sizing: border-box;
  cursor: pointer;
}

#pieceActive {
  background: #111;
}

.pieceAnim {
  background: #2ecc71 !important;
}

.pieceIncorrect {
  background: #e74c3c !important;
}

.above {
  height: 72px;
  display: flex;
}

.scoreElement {
  margin-left: 16px;
}

h1,
h2,
h3,
h5,
p {
  font-family: "Montserrat", Arial, Helvetica;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h2,
h5 {
  text-align: right;
}

h1 {
  font-family: "Montserrat", Arial, Helvetica;
  font-size: 54px;
  flex: 1;
}

h2,
h3 {
  font-size: 40px;
}

h5,
p {
  font-weight: 400;
}

p {
  font-size: 24px;
}
